<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jobify</title>

    <link rel="shortcut icon" href="images/logo-roxo-alta.png" type="image/x-icon">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="estilos.css">

</head>
<body>
    <h1><a href="/"><img style="width: 300px" src="images/logo-roxo-alta.png" alt="Jobify - by DevPleno"></a></h1>
    <p>We are Jobify - Join us!!!</p>